{% extends "base.html" %}
{% block title%} Login {% endblock %}
{% load bootstrap3 %}

{% load static from staticfiles %}
{% block content %}
<header id="head" class="secondary"></header>
<div class="container">
        <div class="row" align="center">
        <div class="col-md-5"> 
           <div class="span5"> 
                   
                <form class="form-signup" action="/accounts/register/" method="POST">
                {% csrf_token %}
                    <div class="fieldWrapper">
                        <label>First name:</label><br>
                        {{ form.first_name}}
                    </div>    
                    
                    <div class="fieldWrapper">
                        <label>Last name:</label><br>
                        {{ form.last_name }}
                    </div>    
                    
                    <div class="fieldWrapper">               
                        <label>E-mail:</label><br>
                        {{ form.email }}
                    </div>    
                    
                    <div class="fieldWrapper">
                    {{form.errors.values.0}}                
                        <label>Username:</label><br>
                        {{ form.username }}
                    </div>
                    
                    <div class="fieldWrapper">        
                        {{form.errors.values.1}}            
                        <label>Password:</label><br>                   
                        {{ form.password1 }}
                    </div>
                    
                    <div class="fieldWrapper">           
                        <label>Password again:</label><br>
                        {{ form.password2 }}
                    </div>            
                    <br></br>
                    <input type="submit" name="submit" class="btn btn-primary btn-large" value="Create account">
                </form>
             
             </div>   
            </div>

        </div>
        </div>
       </div>

        <hr>
    </div>

{% endblock %}